.form-control-new {
  border-left: 0 !important;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
  text-align: center;
}

.title-text {
  color: rgb(214, 51, 132);
  font-size: 1.4rem;
}

.breadcrumb-item {
  cursor: pointer;
}
.sub-titles {
  color: rgb(214, 51, 132);
  font-size: 1.2rem;
}
